@import "./FormField.css";

.authCard button.intra {
  margin: auto;
  width: 100%;
  display: flex;
}

.authCard form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.authCard form .forgetPassword {
  display: inline-block;
  text-align: right;
  font-size: 0.8rem;
}

.authCard form .forgetPassword a {
  opacity: 0.5;
  color: #8f8f8f;
}

.authCard form .sign-up-link {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.authCard form .sign-up-link a {
  color: var(--primary);
}
.authCard form .sign-up-link a:hover {
  opacity: 0.7;
}

.authCard {
  background: var(--bg-secondary);
  padding: clamp(30px, 5vw, 50px) clamp(20px, 6vw, 60px);
  border-radius: 30px;
  width: 100%;
  max-width: 520px;
  margin: auto;
}
