{% extends "base.html" %}
{% load static %}
{% block title %} Home page {%endblock title %}
{% block description %} description {% endblock description %}
{% block keywords %} keywords {% endblock keywords %} {% block content %}

<home-page>
  <nav></nav>
  <section class="home-page__section">
		<div class="hero_text">
			<h1>WELCOME TO YOUR <span>GAME-HUB</span></h1>
			<p>Discover endless fun and competition at GameHub</p>
			<p>Challenge your friends in our top-rated games</p>
			<custom-button> Join </custom-button>
		</div>
		<text-slider data-text="Compete and Win;Play Anytime;Anywhere;Join the Community Have Fun;Engage with Friends;Compete and Win"></text-slider>
		<div class="floating-icons">
			<img src="{% static "assets/images/floating_icon1.png" %}"  data-speed="1" alt="Icon 1" class="icon icon1" />
			<img src="{% static "assets/images/floating_icon2.png" %}"  data-speed="-1"  alt="Icon 2" class="icon icon2" />
			<img src="{% static "assets/images/floating_icon3.png" %}"  data-speed="2" alt="Icon 3" class="icon icon3" />
			<img src="{% static "assets/images/floating_icon4.png" %}"  data-speed="-3" alt="Icon 4" class="icon icon4" />
		</div>
	</section>
</home-page>

{% endblock content %}
