{% extends "base.html" %}
{% load static %}

{% block title %} Home page {% endblock title %}
{% block description %} description {% endblock description %}
{% block keywords %} keywords {% endblock keywords %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/HomePage/HomePage.css' %}">
{% endblock styles %}

{% block content %}
<home-page>
    <nav></nav>
    <section class="home-page__section container">
        <div class="hero_text">
            <h1>
                <span>WELCOME </span>
                <span>TO </span>
                <span>YOUR </span><br>
                <span class="highlight">GAME </span>
                <span class="highlight">HUB</span>
            </h1>
            <p>Discover endless fun and competition at GameHub</p>
            <p>Challenge your friends in our top-rated games</p>
            <a href="/games/rps/match/4/">
                <button class="primary large">PLAY NOW</button>
            </a>
        </div>
        <text-slider data-text="Compete and Win;Play Anytime;Anywhere;Join the Community;Have Fun;Engage with Friends;Compete and Win"></text-slider>
        <div class="floating-icons zoomIn">
            <img src="{% static 'assets/images/floating_icon1.png' %}" data-speed="3" alt="Icon 1" class="icon icon1" />
            <img src="{% static 'assets/images/floating_icon2.png' %}" data-speed="-3" alt="Icon 2" class="icon icon2" />
            <img src="{% static 'assets/images/floating_icon3.png' %}" data-speed="3" alt="Icon 3" class="icon icon3" />
            <img src="{% static 'assets/images/floating_icon4.png' %}" data-speed="-3" alt="Icon 4" class="icon icon4" />
        </div>
        <div class="gradients zoomIn">
            <img src="{% static 'assets/images/gradient1.svg' %}" alt="gradient svg" class="gradient gradient1" />
            <img src="{% static 'assets/images/gradient2.svg' %}" alt="gradient svg" class="gradient gradient2" />
            <img src="{% static 'assets/images/gradient3.svg' %}" alt="gradient svg" class="gradient gradient3" />
        </div>
        <input type="button" />
    </section>
</home-page>
{% endblock content %}