{% extends "base.html" %}
{% load static %}
{% block title %} Login  {% endblock title %}
{% block description %} description {% endblock description %}
{% block keywords %} keywords {% endblock keywords %}
{% block styles %}
    <link rel="stylesheet" href="{% static "pages/LoginPage/LoginPage.css" %}">
{% endblock styles %}

{% block content %}
<login-page >
    <div class="container loginPage" >
        <h1>Welcome <span>Back</span></h1>

        <login-card>
            <div class="authCard">
                <button class="intra">
                    <img src="{% static "assets/images/42logo.svg" %}" alt="42 logo"/>
                    <span>sign in with your intra</span>
                </button>
                <div class="divider">
                    <span class="divider-text">or</span>
                </div>
                <form id="loginForm" autocomplete="off" novalidate>
                    <div class="field email" type="email" name="email">
                        <div>
                            <label for="email">Email</label>
                            <span id="emailError"></span>
                        </div>
                        <input name="email" type="email" id="email" required>
                    </div>

                    <div class="field password" type="password" name="password">
                        <div>
                            <label for="password">Password</label>
                            <span  id="passwordError"></span>
                        </div>
                        <input name="password" type="password" id="password" required>
                    </div>
                    <span class="forgetPassword">
                        <a href="/resetpassword/">Forgot your password?</a>
                    </span>

                    <div class="field rememberMe"  type="checkbox" name="checkbox">
						<div>
							<label for="rememberMe">Remember me for 30 Days</label>
                            <span></span>
                        </div>
                        <input name="rememberMe" type="checkbox" id="rememberMe" />
                    </div>

                    <button class="primary" type="submit">Log In</button>
                    <span class="sign-up-link">
                        Don't have an account?
                        <a href="/signup/">Sign Up</a>
                    </span>
                </form>
            </div>
        </login-card>
    </div>
</login-page>

{% endblock content %}