{% extends "base.html" %}
{% load static %}
{% block title %} Home page {%endblock title %}
{% block description %} description {% endblock description %}
{% block keywords %} keywords {% endblock keywords %} {% block content %}

<sing-in-page>
	</h1>Welcome Back</h1>
	<sing-in-form>
		<form-field>
			<label for="input">My Input</label>
			<my-input id="input" ></my-input>
		</form-field>
		<form-field></form-field>
		<form-field></form-field>
		<form-field></form-field>
	</sing-in-form>
</sing-in-page>

{% endblock content %}
